*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-weight: 400,700;
     font-family: 'Kumbh Sans', sans-serif;
}

.attribution {
     font-size: 20px; 
     text-align: center;
     margin-top: 250px;
    }


.attribution a {
     color: hsl(228, 45%, 44%); 
    }

body{
     background: rgb(175,103,233);
     background: linear-gradient(90deg, rgba(175,103,233,1) 55%, rgba(101,101,231,1) 76%);
     
}

@media screen and (max-width:1440px){
     .contenedor{
          position: relative;
          height: auto;
          min-height: 500px;
          width: 1000px;
          background-color: white;
          border-radius: 20px;
          margin: 100px auto;
          z-index: 15;
          background-image: url("images/bg-pattern-desktop.svg");
          background-repeat: no-repeat;
          background-position:-530px -300px;
     }

     .imagen-mujer{
          position: absolute;
          top: 50px;
          left: -5%;
          z-index: 10;
     }

     .imagen-caja{
          position: absolute;
          bottom: 25%;
          left: -10%;
          z-index: 30;
     }

     h1{
          margin-bottom: 20px;
          text-align: center;
          font: bold;
          font-size: 3rem;
     }

     .contenido-secundario{/* 
          position: absolute; */
          position: relative;
          left: 480px;
          top: 50px;
          width: 500px;
          height: auto;
     }

    button.accordion {
    background-color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    }

     button.accordion.active, button.accordion:hover {
     background-color: white;
     font-weight: bold;
     color: orange;
     border: 1px solid gray;
     border-radius: 1rem;
     }

     button.accordion:after {
     content: url('images/icon-arrow-down.svg');
     font-size: 13px;
     float: right;
     margin-left: 5px;
     }

     button.accordion.active:after {
     content: url('images/icon-arrow-down.svg');
     transform:rotate(190deg);
     }

     div.panel {
     padding: 0 18px;
     background-color: white;
     max-height: 0;
     overflow: hidden;
     transition: 0.6s ease-in-out;
     opacity: 0;
     }

     div.panel.show {
     opacity: 1;
     max-height: 500px;
     }

}

@media screen and (max-width:900px){
     
     .attribution {
          font-size: 20px; 
          text-align: center;
          margin-top: -90px;
    }

     .attribution a {
          color: hsl(228, 45%, 44%); 
    }
     .contenedor{
          position: relative;
          height: 600px;
          width: 500px;
          background-color: white;
          border-radius: 20px;
          margin: 100px auto;
          z-index: 5;
          background-image: url("images/bg-pattern-mobile.svg");
          background-repeat: no-repeat;
          background-position:130px 0px;
     }

     .imagen-mujer{
          width: 250px;
          height: auto;
          position: absolute;
          left: 25%;
          top: -19%;
          z-index: 8;
     }

     .imagen-caja{
          width: 90px;
          height: auto;
          position: absolute;
          top: -6%;
          left: 25%;
          z-index: 10;
     }

     .contenido-secundario{
          position: absolute;
          left: 15%;
          top: 25%;
          width: 375px;
          height: auto;
     }
     h1{
          margin-bottom: 20px;
          text-align: center;
          font: bold;
          font-size: 3rem;
     }

     button.accordion {
          background-color: white;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
          transition: 0.4s;
          }
      
     button.accordion.active, button.accordion:hover {
           background-color: white;
           font-weight: bold;
           color: orange;
           }
      
    button.accordion:after {
           content: url('images/icon-arrow-down.svg');
           font-size: 13px;
           float: right;
           margin-left: 5px;
           }
      
     button.accordion.active:after {
          content: url('images/icon-arrow-down.svg');
          transform:rotate(190deg);
           }
      
      div.panel {
           padding: 0 18px;
           background-color: white;
           max-height: 0;
           overflow: hidden;
           transition: 0.6s ease-in-out;
           opacity: 0;
           }
      
     div.panel.show {
           opacity: 1;
           max-height: 500px;
           }
}

